<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="FrontPageTest.Listeners"/>



</listeners>

  <test thread-count="5" name="Test">
  
  
    <classes>
      <class name="FrontPageTest.DahBoardTest"/>
      <class name="FrontPageTest.FrontObjectTest"/>
      <class name="FrontPageTest.FrontLoginTest"/>
      <class name="FrontPageTest.FrontObjectTest"/>
      <class name="FrontPageTest.Ordertest"/>
       <class name="FrontPageTest.HoldingTest"/>
        <class name="FrontPageTest.PositionPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
